.navigation {
  list-style: none;
  display: flex;
}

.item {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}

.item:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #fff;
}

.item:hover {
  transform: scale(1.1);
}

.activeLink {
  color: tomato;
}
